@model DomainClass.ProductGroup

@{
    ViewBag.Title = "ویرایش گروه محصول";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> ویرایش گروه محصول</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
@using (Ajax.BeginForm("Edit", "ProductGroups", FormMethod.Post, new AjaxOptions()
{
    OnSuccess = "success",
    UpdateTargetId = "myListGroup"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductGroupId)
        @Html.HiddenFor(model => model.ParentId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    </div>
