@model IEnumerable<DomainClass.ProductGroup>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            زیر گروه ها
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="group_@item.ProductGroupId">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.ListProductGroup.Any())
                {
                    <ul>
                        @foreach (var subGroup in item.ListProductGroup)
                        {
                        <li id="group_@subGroup.ProductGroupId">
                            @subGroup.Title |

                            <a onclick="deleteGroup(@subGroup.ProductGroupId)" class="text-danger btn-xs">
                                <i class="glyphicon glyphicon-trash"></i> 
                            </a>
                            |

                            <a onclick="Edit(@subGroup.ProductGroupId)" class="btn text-warning btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </li>

                        }
                    </ul>
                }
            </td>
            <td>
                <a onclick="create(@item.ProductGroupId)" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a onclick="Edit(@item.ProductGroupId)" class="btn btn-warning btn-xs">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a onclick="deleteGroup(@item.ProductGroupId)" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
