@model IEnumerable<ECommerce.DomainModel.Product>

<h3 class="subtitle">پر فروش ها</h3>
<div class="owl-carousel product_carousel">

    @foreach (var item in Model)
    {
        <div class="product-thumb clearfix">
            <div class="image"><a href="/Products/GetSingleProduct?productId=@item.ProductId"><img src="/Images/ProductImages/@item.ImageName" alt="@item.ProductTitle" title="@item.ProductTitle" class="img-responsive" /></a></div>
            <div class="caption">
                <h4><a href="/Products/GetSingleProduct?productId=@item.ProductId">@item.ProductTitle</a></h4>
                <p class="price"><span class="price-new">@item.Price تومان</span><span class="price-old">122000 تومان</span><span class="saving">-10%</span></p>
            </div>
            <div class="button-group">
                <button class="btn-primary" type="button" onClick="AddToCart(@item.ProductId)"><span>افزودن به سبد</span></button>
                <div class="add-to-links">
                    <button type="button" data-toggle="tooltip" title="علاقمندی" onClick="AddToWish(@item.ProductId)"><i class="fa fa-heart"></i></button>
                    <button type="button" data-toggle="tooltip" title="مقایسه" onClick="AddToCompare(@item.ProductId)"><i class="fa fa-exchange"></i></button>
                </div>
            </div>
        </div>
    }


</div>
