@model ECommerce.DomainModel.Product
@using ECommerce.DomainModel
@using ECommerce.Data;
@using ECommerce.Data.DatabaseContext;
@{
    ViewBag.Title = "GetSingleProduct";


}



    <div>
        <h1 class="title">@Model.ProductTitle</h1>
        <div class="row product-info">
            <div class="col-sm-6">

                <div class="image"><img class="img-responsive" itemprop="image" id="zoom_01" data-zoom-image="/Images/ProductImages/@Model.ImageName" src="/Images/ProductImages/@Model.ImageName" title="@Model.ProductTitle" alt="@Model.ProductTitle" /> </div>
                <div class="center-block text-center"><span class="zoom-gallery"><i class="fa fa-search"></i> برای مشاهده گالری روی تصویر کلیک کنید</span></div>

                @if (Model.ProductGaleries.Any())
                {
                    <div class="image-additional" id="gallery_01">
                        @foreach (var item in Model.ProductGaleries)
                        {
                            <a class="thumbnail" href="#" data-zoom-image="/Images/ProductImages/@item.ImageName" data-image="/Images/ProductImages/@item.ImageName" title="لپ تاپ ایلین ور">
                                <img src="/Images/ProductImages/@item.ImageName" title="لپ تاپ ایلین ور" alt="لپ تاپ ایلین ور" />
                            </a>


                        }
                    </div>
                }
            </div>
            <div class="col-sm-6">
                <ul class="price-box">
                    <li class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span class="price-old">@Model.Price  تومان</span> <span itemprop="price">@Model.Price  تومان<span itemprop="availability" content="موجود"></span></span></li>
                    <li></li>
                    <li>بدون مالیات : 9 میلیون تومان</li>
                </ul>
                <div id="product">
                    <div class="cart">
                        <div>
                            <button onclick="AddToCart(@Model.ProductId)" type="button" id="button-cart" class="btn btn-primary btn-lg">افزودن به سبد</button>
                        </div>
                        <div>
                            <button type="button" class="wishlist" onClick="AddToWish(@Model.ProductId)"><i class="fa fa-heart"></i> افزودن به علاقه مندی ها</button>
                            <br />
                            <button type="button" class="wishlist" onClick=""><i class="fa fa-exchange"></i> مقایسه این محصول</button>
                        </div>
                    </div>
                </div>
                <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="ratingValue" content="0" />
                    <p><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href=""><span itemprop="reviewCount">1 بررسی</span></a> / <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href="">یک بررسی بنویسید</a></p>
                </div>
                <hr>

            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">توضیحات</a></li>
            <li><a href="#tab-specification" data-toggle="tab">مشخصات</a></li>
            <li><a href="#tab-review" data-toggle="tab">نظرات کاربران</a></li>
        </ul>
        <div class="tab-content">
            <div itemprop="description" id="tab-description" class="tab-pane active">
                <div>
                    @Model.Text
                </div>
            </div>
            <div id="tab-specification" class="tab-pane">
                @if (ViewBag.ProductFeatures != null)
                {
                    IEnumerable<ShowProductFeatureViewModel> list = ViewBag.ProductFeatures;

                    <ul>
                        @foreach (var item in list)
                        {
                            <li> @item.FeatureTitle : @string.Join(" , ", item.Values)</li>
                        }
                    </ul>
                }
            </div>
            <div id="tab-review" class="tab-pane">
                <div class="form-horizontal">
                    <div id="review">
                        <div>


                            <div id="comments">
                                <div class="comment-layer" id="commentProduct">
                                    @Html.Action("CreateComment", "Products", new { id = Model.ProductId })

                                    <ul id="listComment" class="comment-list">
                                        @Html.Action("ShowComments", "Products", new { id = Model.ProductId })
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="text-right"></div>
                    </div>
                </div>
            </div>
        </div>


        <section class="border-radius tags-layer">
            @foreach (var item in Model.Tags)
            {

                <a  href="/Search?q=@item.Title">@item.Title</a>
            }

        </section>


        <h3 class="subtitle">محصولات مرتبط</h3>
        <div class="owl-carousel related_pro">

            @Html.Action("ProductRelative", "Products", new { productTitle = Model.ProductTitle });

        </div>
    </div>






@section Scripts{

    <script>

        $("#zoom_01").elevateZoom({
	gallery:'gallery_01',
	cursor: 'pointer',
	galleryActiveClass: 'active',
	imageCrossfade: true,
	zoomWindowFadeIn: 500,
	zoomWindowFadeOut: 500,
	zoomWindowPosition : 11,
	lensFadeIn: 500,
	lensFadeOut: 500,
	loadingIcon: 'image/progress.gif'
	}); 
//////pass the images to swipebox
$("#zoom_01").bind("click", function(e) {
  var ez =   $('#zoom_01').data('elevateZoom');
	$.swipebox(ez.getGalleryList());
  return false;
});

        function successComment() {
            $("#Name").val("");
            $("#Email").val("");
            $("#WebSite").val("");
            $("#Comment").val("");
            $("#ParentID").val("");
        }

        function ReplyComment(id) {
            $("#ParentID").val(id);
            $("html, body").delay(2000).animate({ scrollTop: $('#commentProduct').offset().top }, 2000);
        }
    </script>
}

