@model IEnumerable<ECommerce.DomainModel.ShopCartItemViewModel>

@{
    ViewBag.Title = "لیست علاقه مندی";
}


@if (Model.Any())
{




    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h1 class="title"> لیست علاقه مندی شما</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center">تصویر</td>
                            <td class="text-left">نام محصول</td>
                            <td class="text-left">تعداد</td>
                            <td class="text-right">عملیات</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"><a href="/Products/GetSingleProduct?productId=@item.ProductID"><img src="/Images/ProductImages/Thumb/@item.ImageName" alt="@item.Title" title="@item.Title"></a></td>
                                <td class="text-left"><a href="/Products/GetSingleProduct?productId=@item.ProductID">@item.Title</a></td>
                                <td class="text-left">@item.Count</td>
                                <td>
                                    <a class="btn btn-primary" title="" data-toggle="tooltip" onclick="AddToCart(@item.ProductID)"  data-original-title="افزودن به سبد"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-danger" href="/wish/DeleteWish/@item.ProductID" title="" data-toggle="tooltip"  data-original-title="حذف"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }





                    </tbody>
                </table>
                <a href="/ShopCart" class="btn btn-primary">نهایی کردن خرید</a>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
}