@model ECommerce.DomainModel.ContactUs

@{
    ViewBag.Title = "تماس با ما";
}

<h3 class="subtitle">محل ما</h3>
<div class="row">
    <div class="col-sm-3"><img src="~/Images/storLocation.jpg" alt="قالب مارکت شاپ" title="قالب مارکت شاپ" class="img-thumbnail" /></div>
    <div class="col-sm-3">
        <strong>قالب مارکت شاپ</strong><br />
        <address>
            میدان مرکزی،<br />
            خیابان وینگ شماره 22،<br />
            نیویورک،<br />
            ایالات متحده
        </address>
    </div>
    <div class="col-sm-3">
        <strong>شماره تلفن</strong><br>
        +91 9898989898<br />
        <br />
        <strong>فکس</strong><br>
        +91 9898989898
    </div>
    <div class="col-sm-3">
        <strong>ساعات کار</strong><br />
        خدمات مشتریان 24x7<br />
        <br />
        <strong>دیدگاه ها</strong><br />
        در اینجا توضیحات دلخواه خود را قرار دهید. فروشگاه چک قبول نمیکند!
    </div>
</div>


<h3 class="subtitle">با ما ارتباط برقرار کنید</h3>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت " class="btn btn-success" />
            </div>
        </div>
    </div>
}


